                      /*MISHAEL MANRRIQUE TABOADA */

/* fondo de la pagina color gris oscuro como su corazon :"v */
body {
    background: #282a36;
    overflow: hidden; /* esconde el desbordamiento de contenido */
    animation: skyBg 10s infinite linear; /* aplica la animación skyBg */
}

/* estilos para el sol xD */
.sun {
    position: absolute; /* posiciona el sol */
    top: 50%; /* lo coloca en el centro vertical */
    left: 50%; /* lo coloca en el centro horizontal */
    transform: translate(-50%, -50%); /* centra el sol en su contenedor */
    border-radius: 50%; /* le da forma circular */
    height: 200px; /* establece la altura del sol */
    width: 200px; /* establece el ancho del sol */
    background: orange; /* pone el clor de fondo en naranja .-. */
    box-shadow: 0 0 10px orange, 0 0 60px orange, 0 0 200px yellow, inset 0 0 80px yellow;
    /* ponemos sombritas para dar un efecto de brillitos xD */
}

/* estilos de la luna */
.moon {
    position: absolute; /* posiciona la luna */
    top: 1px; /* lo coloca cerca del borde superior */
    left: 10px; /* lo coloca cerca del borde izquierdo */
    border-radius: 50%; /* e da forma circular */
    height: 200px; /* establece la altura de la luna */
    width: 200px; /* establece el ancho de la luna */
    background: #0e0f10; /* pone el fondo en color gris oscuro como su corazon */
    box-shadow: inset 0 0 50px rgba(150, 150, 150, 0); /* agrega sombra que hace el eclipse */
    animation: eclipse 10s infinite linear; /* aplica la animación eclipse */
    transform-origin: 50% 150%; /* define la rotación de la luna */
}
transform: translate(-50%, -50%); /* centra el sol en su contenedor */

/* animacion dia y noche  */
@keyframes skyBg {
    0% {
        background: #80bde3; /* color celeste */
    }
    60% {
        background: black; /* color negro */
    }
    100% {
        background: #80bde3; /* color celeste */
    }
}

/* simulacion del eclipse */
@keyframes eclipse {
    0% {
        transform: rotate(-60deg); /*rotación hacia la izquierda */
    }
    90% {
        transform: rotate(30deg); /* rotacion hacia derecha */
    }
    100% {
        transform: rotate(300deg); /* completa la rotación hacia la izquierda */
    }
}

